# Dependencies
node_modules/
**/node_modules/

# Environment variables
.env
**/.env
.env.local
**/.env.local

# Build
dist/
build/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/